
    <h1>Bienvenidos a la tienda</h1>
     <img class="imgHome" src="https://i.pinimg.com/originals/f8/70/73/f8707300b048aacde313b691899b9a88.jpg" alt="">
<div class="containerHome">
    
    <a class="Init" href="/login"> Iniciar Sesión </a>
  
    <a class="Init" href="/register"> Registrarse </a>

   
</div>