<header>
  <a href="/" class="logo"><img
      src="https://img.freepik.com/vector-premium/logotipo-tienda-moda-minimalista_278222-2014.jpg?size=338&ext=jpg&ga=GA1.1.1488620777.1712448000&semt=ais"
    /></a>

  <nav>
    <ul>
      <li>
        <a href="/api/user/profile">Mi perfil</a>
      </li>
      <li>
        <a href="/realtimeproducts" class="navLink">realTime!</a>
      </li>
      <li>
        <a href="/products" class="navLink">Tienda</a>
      </li>
      <li>

        <a href="/chat" class="navLink">Chat</a>
      </li>
<li>
    <a href="/carts/{{cartId}}" class="NavLink">Carrito</a>

  </li>
    </ul>
  </nav>
  
   
</header>

